
.card-home-section {
    background-color: white;

}
.card-home-title {
    text-align: center;
    padding: 1em;
    font-size: 2rem;
}
.card-container {
display: flex;
justify-content: space-around;
}
.card-item{
    text-align: center;
    margin: 1em;
}
.card-item > .title {
    font-size: 1.+rem;
    padding: 0.5em;
}
.card-item > .body {
    font-size: 0.8rem;
    text-align: justify;
}

.card-item > .image {
    overflow: hidden;
    }
.card-item > .image > img{
overflow: hidden;
max-width: 100%;
height: auto;
}